name: Windows
on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      name:
        description: 'Manually trigger build of Idris 2.'
        required: true
env:
  MSYSTEM: MINGW64
  MSYS2_PATH_TYPE: inherit
  SCHEME: scheme
  CC: gcc
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Init
        run: |
          git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get dris2-lsp & its submodule
        run: |
          git clone --depth 1 https://github.com/idris-community/idris2-lsp
          cd idris2-lsp/Idris2 && git submodule init && git submodule update
      - name: Get Chez Scheme
        run: |
          curl -L https://github.com/ywata/idris2-windows/releases/download/refs%2Fheads%2Fmain/chez-nightly.zip --output chez.zip 
          unzip chez.zip
      - name: Set Path
        run: |
          $chez="$(pwd)\chez-nightly\chez\bin\ta6nt"
          $idris="$(pwd)\idris2-lsp\Idris2\.idris2"
          $idirs2lsp="$(pwd)\idris2-lsp"
          $output="$(pwd)\output"
          echo "::set-env name=PWD::$(c:\msys64\usr\bin\cygpath -u $(pwd))"
          echo "::add-path::$chez"
          echo "::add-path::$idris\bin"
          echo "::set-env name=IDRIS_PREFIX::$idris"
          echo "::set-env name=PREFIX::$(c:\msys64\usr\bin\cygpath -u $idris)"
      - name: Test Scheme
        run: |
          scheme --version
      - name: Bootstrap and install
        run: c:\msys64\usr\bin\bash -l -c "cd $env:PWD/idris2-lsp/Idris2 && make bootstrap && make install"
      - name: 2nd build
        run: |
          c:\msys64\usr\bin\bash -l -c "cd $env:PWD/idris2-lspIdris2 && rm -rf build && make all install install-api"
      - name: Build dris2-lsp
        run: c:\msys64\usr\bin\bash -l -c "cd $env:PWD/idris2-lsp && make"
      - name: Prepare the data to compression
        run: |
          New-Item -ItemType directory -Name output/idris2-windows-nightly/chez
          New-Item -ItemType directory -Name output/idris2-windows-nightly/idris2
          Move-Item -Path configure.ps1 -Destination output/idris2-windows-nightly
          Move-Item -Path chez-nightly/chez/bin output/idris2-windows-nightly/chez
          Move-Item -Path chez-nightly/chez/boot output/idris2-windows-nightly/chez
          Move-Item -Path Idris2/.idris2 output/idris2-windows-nightly/idris2
          Move-Item -Path Idris2/bootstrap output/idris2-windows-nightly/idris2
          Move-Item -Path idris2-lsp output/idris2-windows-nightly/idris2-lsp
          Compress-Archive -Path output/idris2-windows-nightly -DestinationPath output/idris2-windows-nightly.zip
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: nightly-tag-${{ steps.date.outputs.date }}
          RELEASE_NAME: nightly-release-${{ steps.date.outputs.date }}
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./output/idris2-windows-nightly.zip
          asset_name: idris2-windows-nightly.zip
          asset_content_type: application/zip
