name: Windows
on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      name:
        description: 'Manually trigger build of Idris 2.'
        required: true
defaults:
  run:
    shell: bash

env:
  MSYSTEM: MINGW64
  MSYS2_PATH_TYPE: inherit
  SCHEME: scheme
  CC: gcc
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Init
        run: |
          git config --global core.autocrlf false
          echo $SHELL
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get Chez Scheme
        run: |
          curl -L https://github.com/ywata/idris2-windows/releases/download/refs%2Fheads%2Fmain/chez-nightly.zip --output chez.zip 
          unzip chez.zip
      - name: Set Chez Path
        run: |
          chez="$(pwd)/chez-nightly/chez/bin/ta6nt"
          output="$(pwd)/output"
          echo $chez >> $GITHUB_PATH
      - name: Test Scheme
        run: |
            scheme --version
      - name: Get idris2-lsp
        run: |
          git clone --depth 1 https://github.com/idris-community/idris2-lsp
          (cd idris2-lsp/Idris2 && git submodule init && git submodule update)
      - name: Bootstrap Idris2
        run: |
          export SHELL=/usr/bin/bash
          cd idris2-lsp/Idris2 && make bootstrap SCHEME=scheme && make install




