name: Windows
on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      name:
        description: 'Manually trigger build of Idris 2.'
        required: true
defaults:
  run:
    shell: bash

env:
  MSYSTEM: MINGW64
  MSYS2_PATH_TYPE: inherit
  SCHEME: scheme
  CC: gcc
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Init
        run: |
          git config --global core.autocrlf false
      - name: Get Chez Scheme
        run: |
          echo "$(pwd)"
          echo $pwd
          curl --version
      - name: Set Path
        run: |
          chez="$(pwd)/chez-nightly/chez/bin/ta6nt"
          output="$(pwd)/output"
          echo "$chez $output"
          echo "$chez" >> $GITHUB_PATH
      - name: Test Scheme
        run: |
            scheme --version

